/*=============== VARIABLES CSS ===============*/
:root {
    --primary-color: #fed851;
    --secundary-color: #e9be22; /* -4% */
    --text-title-color: #3D3D3D;
    --text-button-color: #3D3D3D;
    --text-color: #575757;
    --body-bg: #E9EBEC;
    --white-color: #FFFFFF;
    --container-color: #fff;

    /*========== Fonts ==========*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-bg);
    color: var(--text-color);
    transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
    color: var(--text-title-color);
    font-weight: 600;
}

/*=============== DARK THEME ===============*/
body.dark-theme {
    --text-title-color: #f1f2f4;
    --text-color: #a3abb2;
    --body-bg: #0c151d;
    --container-color: #171f26;
    --primary-color: #ffe071;
}

.dark-theme .profile__picture-bg {
    background: rgb(255,212,81);
    background: linear-gradient(135deg, rgb(255 224 113) 40%, rgb(200 156 0) 90%);
}

.dark-theme .button__white {
    background-color: var(--container-color);
}

.dark-theme .button__white:hover {
    background-color: #1f2a33;
}

.dark-theme .tabs__buttons {
    background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
    background-color: #0c151d;
}

.dark-theme::-webkit-scrollbar-thumb {
    background-color: #0c151d;
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: #0c151d;
}


/*=============== LAYOUT CLASSES ===============*/
.container {
    max-width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
@media screen and (min-width: 576px) {
    .container {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*=============== HEADER CLASSES ===============*/
.navigation {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*=============== BUTTONS ===============*/
.rounded-button {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: var(--text-title-color);
    background-color: var(--container-color);
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.rounded-button:hover {
    color: var(--primary-color);
}

.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--primary-color);
    font-size:var(--small-font-size);
    color: var(--text-button-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
}

.button i {
    font-size: 1rem;
}

.button:hover {
    background-color: var(--secundary-color);
}

.button__white {
    background-color: var(--white-color);
    color: var(--text-title-color);
}

.button__white:hover {
    background-color: #c7c7c7;
}

/*=============== PROFILE ===============*/
.profile {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-row-gap: 3rem;
}

.profile__container {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
}

.profile__picture-bg {
    width: 100px;
    height: 100px;
    background: rgb(255,212,81);
    background: linear-gradient(124deg,
    rgba(255,212,81,1) 0%, rgba(233,190,38,1) 69%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile__picture-bg img {
    width: 100%;
}

.profile__picture {
    border: 3px solid var(--primary-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
}

.profile__personal-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile__name {
    font-size: var(--h2-font-size);
}

.profile__description {
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
}

/*=============== social icons styles ===============*/
.profile__social {
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}

.profile__social-link {
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}

.profile__social-link:hover {
    color: var(--primary-color);
}

.profile__facts {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem
}

.profile__facts-fact {
    text-align: center;
}

.profile__fact-amount {
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
}

.profile__fact-description {
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.profile__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__buttons {
    column-gap: 1rem;
}

/*=============== FILTERS TABS===============*/
.tabs__buttons {
    margin: 2rem 0 2.5rem;
    background-color: var(--white-color);
    padding: .375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
}

.tabs__buttons li {
    width: 100%;
}

.tab__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--text-title-color);
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    font-weight: 500;
    border-radius: .75rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.tab__button:hover {
    background-color: var(--body-bg);
}

.tab-active {
    background-color: var(--body-bg);
}

/*=============== PROJECTS ===============*/

.projects .card::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
}

.card img.color {
    filter: grayscale(0);
}


.card .card__overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: rgb(226 209 116 / 88%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.card:hover .card__overlay {
    opacity: 1;
    z-index: 2;
}

.card__overlay .card__overlay-link i {
    height: 42px;
    width: 42px;
    color: #3D3D3D;
    background: #fff;
    border-radius: 50%;
    padding: 0.5rem;
}

.card__overlay-description,
.card__overlay-title {
    color: #3D3D3D;
}

.card__overlay-description {
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 16px;
}

.card__overlay-title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.tabs__button {
    padding: .5rem;
}

/*=============== SKILLS ===============*/
.skills {
    row-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.skill {
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 1rem;
}

.skill__icon {
    font-size: 1.5rem
}

.skill__title {
    font-size: var(--normal-font-size);
    font-weight: 500;
    line-height: 18px;
}

.skill__subtitle {
    font-size: var(--smaller-font-size);
}

.skill__divider {
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: rgb(101 101 101);
    opacity: 0.55;
}

.skill__description {
    font-size: var(--smaller-font-size);
}

/* Hide and show projects & skills */
.tabs [data-content] {
    display: none;
}

.active[data-content] {
    display: grid;
}

/* Activate button filter */
.tab-active {
    background-color: var(--body-bg);
}

/*=============== FOOTER ===============*/
.footer__text {
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/*=============== MEDIAS QUERY'S ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .profile__facts {
        column-gap: 1.5rem;
    }
    .profile__buttons {
        flex-direction: column;
        row-gap: 1rem;
    }

    .skills__box {
        column-gap: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .profile__container {
        grid-template-columns: repeat(2, max-content); /*for desktop */
    }
    .profile__personal-data {
        align-items: flex-start;
    }
}

@media screen and (min-width: 576px) {
    .projects {
        grid-template-columns: 332px;
        justify-content: center;
    }

    .tabs__buttons {
        margin: 3rem auto;
    }
    .tab__button {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 776px) {
    .projects {
        grid-template-columns: repeat(2, 332px);
    }

    .skills {
        grid-template-columns:repeat(3, 1fr);
        justify-content: center;
        column-gap: 1.5rem;
    }
    .tabs__buttons {
        margin: 3rem auto;
    }
    .tab__button {
        padding: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .tab__button {
        padding: 1.5rem;
    }

    .projects {
        gap: 2rem 3rem;
    }
    .skills__title {
        font-size: var(--normal-font-size);
        margin-bottom: 2.5rem;
    }

    .footer__text {
        margin: 4.5rem 0 2.5rem;
    }
}

